.outer{
    background:red;
    width:200px;
    height:200px;

}

.inner{
    background:blue;
    width:50%;
    height:50%;
}
.relative{
    font-size: 2em;
}
.absolute{
    font-size:32px;
} 
/* h2{
   background:red;
   width:200px;
   text-align: center;
   margin: auto;
} */
 h2{
    background:red;
    display:inline;
    
}
div{
    background:yellow;
}
span,a{
    background:rgb(238, 238, 241);
}
